<h1 class="bg-dark text-light text-center"><i>CART</i></h1>
<div class="container mt-3 p-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of cart">
      <div class="card mb-3">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Price: ₹{{product.price}}</p>
          <button class="btn btn-danger" (click)="removeFromCart(product)">Remove</button>
          <button class="btn btn-success" (click)="buyNow(product)">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>