<header class="header">
  EasyCart
</header>

<!-- app.component.html -->
<nav class="navbar">
<div class="nav-left">
<a class="nav-button" routerLink="/product">Products</a>
<a class="nav-button" routerLink="/cart">Cart</a>
<a class="nav-button" routerLink="/order">Orders</a>
</div>
<div class="nav-right">
<input type="text" placeholder="Search..." class="search-bar">
<a class="profile-icon" routerLink="/profile">
<img src="assets/profile-icon.jpeg" alt="Profile">
</a>
</div>
</nav>
<router-outlet></router-outlet>